<router-outlet></router-outlet>

<app-snow *ngIf="!showHearts"></app-snow>

<app-heart-cascade *ngIf="showHearts"></app-heart-cascade>

<div class="boxes-container">

  <!-- https://robots.thoughtbot.com/css-animation-for-beginners -->
  <!-- bounce text -->
  <!-- <div class="box">
    <div id="anim-one">BOUNCE</div>
  </div> -->

  <!-- circles fall -->
  <!-- <div class="box">
    <div id="anim-two">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div> -->

  <!-- sun cloud rain -->
  <!-- <div class="box">
    <div id="anim-three">
      <div class="sun"></div>
      <div class="cloud"><i class="fa fa-cloud"></i></div>
      <fa-icon class="cloud" [icon]="faCloud"></fa-icon>
      <ul class="rain">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div> -->

  <!-- heartbeat -->
  <!-- <div class="box">
    <div id="anim-four">
      <div class="heart"><i class="fa fa-heart"></i></div>
      <fa-icon class="heart" [icon]="faHeart"></fa-icon>
    </div>
  </div> -->

  <!-- mountains -->
  <div class="box wide">
    <div id="anim-five">
      <div class="sun"></div>
      <ul class="cloud">
        <li><i class="fa fa-cloud"><fa-icon class="cloud" [icon]="faCloud"></fa-icon></i></li>
        <li><i class="fa fa-cloud"></i><fa-icon class="cloud" [icon]="faCloud"></fa-icon></li>
      </ul>
      <fa-icon class="mountain one" [icon]="faMountain"></fa-icon>
      <fa-icon class="mountain two" [icon]="faMountain"></fa-icon>
      <fa-icon class="mountain three" [icon]="faMountain"></fa-icon>
      <fa-icon class="mountain four" [icon]="faMountain"></fa-icon>

      <fa-icon class="pine-tree one" [icon]="faTree"></fa-icon>
      <fa-icon class="pine-tree two" [icon]="faTree"></fa-icon>
      <fa-icon class="pine-tree three" [icon]="faTree"></fa-icon>
      <fa-icon class="pine-tree four" [icon]="faTree"></fa-icon>

      <div class="terrain"></div>
      <img class="woman" [src]="'assets/img/woman.svg'" [alt]="'eRoom-logo'" (click)="changeState()">
      <fa-icon class="heart" [icon]="faHeart" (click)="changeState()"></fa-icon>
      <span class="text" *ngIf="!showHearts"  (click)="changeState()">Tengo Frio!</span>
      <span class="text2" *ngIf="!showHearts"  (click)="changeState()">Tocame!</span>

      <span class="text" *ngIf="showHearts"  (click)="changeState()">Te Amo!</span>
      <span class="text2" *ngIf="showHearts"  (click)="changeState()">Lenimar</span>

      <p class="letter" *ngIf="showHearts" >
  
            Feliz dia del Amor y la 
            Amistad, eres lo mejor 
            que me ha pasado en la 
            vida, eres bella e 
            inteligente, me llenas de 
            inspiracion y me das 
            el poder para seguir con
            mis metas, por eso eres mi
            pipiora magica, mi angel, 
            mi hada, te amo Lenimar
      </p>

    </div>
  </div>

  <!-- stopwatch -->
  <!-- <div class="box">
    <div id="anim-six">
      <div class="stopwatch">
        <div class="head"></div>
        <div class="center"></div>
        <div class="hand rotate"></div>
      </div>
    </div>
  </div> -->

  <!-- extras -->   <!-- https://webdesign.tutsplus.com/tutorials/a-beginners-introduction-to-css-animation--cms-21068 -->
  <!-- <div class="box">
 
    <div id="anim-extra-one"></div>
  </div> -->

</div>

