 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>
 <fa-icon class="heart" [icon]="faHeart"></fa-icon>

<!-- **************** Other snow flakes *******************

<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
  </div> -->